<main class="index">
    <header class="d-flex justify-content-md-center">
        <div class="container text-center">
            <h1 class="mb-1">Лучшие ссылки</h1>
            <h3 class="mb-5">
                <em>Сохраняйте свои любимые страницы</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Давайте начнём
            </a>
        </div>
    </header>
</main>
