<div id="sidebar-wrapper" class="super-super-float-right-col">
     <div id="sidebar-wrapper" class="super-float-right-col">
       <div id="sidebar-wrapper" class="float-right-col">
         {{#if permit.id}}
             {{render 'applicant'}}
             {{render 'location'}}
         {{else}}
          <h2>Nope!</h2>
          <h2>Nope!</h2>
          <h2>Nope!</h2>
          <h2>Nope!</h2>
          <h2>Nope!</h2>  
         {{/if}}
       </div>
     </div>
</div>
